<template name="aboutArea">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Lato|Arimo|Roboto|Open+Sans|Droid+Sans+Mono' rel='stylesheet' type='text/css'>
  </head>

      <div class="well">
      	<h2>About Word Sleuth:</h2>
        <p>
        Word Sleuth is an anagram finder that also finds subwords (words that can be made from letters provided). You can choose from a list of different dictionaries that are all freely available on the internet. This app was written using CoffeeScript, JavaScript, HTML, CSS, MongoDB, and MeteorJS. Soon this app will be available on both Android and iOS, as well as the web. Stay tuned... More to come soon...
        </p>

        <div id="personalInfo">
      	  {{> personalInfo}}
    	</div>
      </div>

</template>