<template name="anagrams">
    <head>
        <link href='http://fonts.googleapis.com/css?family=Lato|Arimo|Roboto|Open+Sans|Droid+Sans+Mono|Cousine' rel='stylesheet' type='text/css'>
    </head>
 
    <div class="well">
        <h4>
            Anagrams for "{{userInput}}" 
            <span class="badge" style="color:#7FDBFF;" id="anagramcounts">{{anagramCount}} <span class="glyphicon glyphicon-list-alt"></span></span>
        </h4> 
        {{#if all_anagram_items}}                
        <p id="#btn-word">
            {{#each all_anagram_items}}
                <span class="badge">{{this.anagram}}</span>
            {{/each}}
        </p>
        {{else}}
        	 <p> <span id="not-found" class="glyphicon glyphicon-remove"></span> None found</p>
        {{/if}}
    </div>


</template>