<template name="anagrams">
    <div class="container">
        <h3>
            Anagrams for "{{userInput}}" 
            <span class="badge">{{anagramCount}} words</span>
        </h3> 
        {{#if all_anagram_items}}
            <span style="color:white">
            
    	        {{#each all_anagram_items}}
    	            <p>
                        <span style="color:red">&#x2717;</span>
                        {{this.anagram}}
                    </p>
    	        {{/each}}
            </span>
        {{else}}
        	<p>None found...</p>
        {{/if}}
    </div>
</template>