<!-- glyphicon glyphicon-refresh -->
<template name="combinations">
  <div class="well">
  	<h4>
    Combinations for "{{userInput}}" 
    <span class="badge" style="color:#7FDBFF;" id="anagramcounts">{{combinationsCount}} <span class="glyphicon glyphicon-list-alt"></span></span>
    </h4> 
  	<p>
    <button type="button" id="random-test-btn" class="btn btn-success" aria-label="Left Align">Contrary + Blue <span class="glyphicon glyphicon-refresh"></span></button>
    </p>

<!--
    {{#if all_combination_items}} 
    <h4>
    Combinations for "{{userInput}}" 
    <span class="badge" style="color:#7FDBFF;" id="anagramcounts">{{combinationsCount}} <span class="glyphicon glyphicon-list-alt"></span></span>
    </h4>   

    <p id="#btn-word">
        {{#each all_combination_items}}
        	{{#if combination_not_swapped}}
                <button type="button" id="btn-word" class="btn btn-default" aria-label="Left Align">{{this.word1}} + {{this.word2}}</button>
        	{{else}}
        		<button type="button" id="btn-word" class="btn btn-default" aria-label="Left Align">{{this.word2}} + {{this.word1}}</button>
        	{{/if}}
        {{/each}}
    </p>

    {{else}}
    	<p>No combiniations found found...</p>
    {{/if}}

    -->

  </div>
 </template>

  	



<!--<span class="glyphicon glyphicon-refresh"></span>-->