<!-- glyphicon glyphicon-refresh -->
<template name="combinations">
  
  
    <div class="well">
	    <h4>
            {{#if all_combo_items}}
                <span id="ok" class="glyphicon glyphicon-ok"></span>
            {{/if}}
            Combinations for "{{userInput}}" 
            <span class="badge" style="color:#7FDBFF;" id="anagramcounts">{{combosCount}} <span class="glyphicon glyphicon-list-alt"></span></span>
        </h4> 
	  
	  {{#if all_combo_items}}
	  	
	  	<br>
        <p>
	  	{{#each all_combo_items}}
	  	  <!-- Researching this now...-->
				<span class="badge">{{this.word_1}} {{this.word_2}}</span>
	  	{{/each}}
        </p>
	  {{else}}
	  	<p> <span id="not-found" class="glyphicon glyphicon-remove"></span> None found</p>
	  {{/if}}
	 
	</div>

 </template>