<template name="dictArea">

    <head>
        <link href='http://fonts.googleapis.com/css?family=Lato|Arimo|Roboto|Open+Sans|Droid+Sans+Mono|Cousine' rel='stylesheet' type='text/css'>
    </head>
        
    <div class="well">
        <p>
            An app to find anagrams, or other words, that can be made from the letters you provide...
        </p>

        <p><u>Current Dictionary:</u> <span id="dictArea">{{dictionaryName}}</span></p>

        <div id="searchArea" class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <input id="input" type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                <button  class="btn btn-default" 
                type="button">Go!</button>
              </span>
                </div>
                <!-- /input-group -->
            </div>
            <!-- /.col-lg-6 -->
        </div>
    </div>
</template>