<template name="subwords">
	<p id="subwords">	
        <h3>Subwords for "<strong>{{userInput}}</strong>"</h3>
        {{#if all_subword_items_length_1}}
	        <h4>&#9898;<u>1-Letter words:</u></h4>
	        {{#each all_subword_items_length_1}}
	            <span style="">{{this.subword}}</span>
	        {{/each}}
	    {{/if}}
        {{#if all_subword_items_length_2}}
	        <h4>&#x2717;<u>2-Letter words:</u></h4>
	        {{#each all_subword_items_length_2}}
	            <span style="">{{this.subword}}</span>
	        {{/each}}
	    {{/if}}
        {{#if all_subword_items_length_3}}
	        <h4>&#x2717;<u>3-Letter words:</u></h4>
	        {{#each all_subword_items_length_3}}
	            <span style="">{{this.subword}}</span>
	        {{/each}}
	    {{/if}}
        {{#if all_subword_items_length_4}}
	        <h4>&#x2717;<u>4-Letter words:</u></h4>
	        {{#each all_subword_items_length_4}}
	            <span style="">{{this.subword}}</span>
	        {{/each}}
	    {{/if}}
        {{#if all_subword_items_length_5}}
        	<h4>&#x2717;<u>5-Letter words:</u></h4>
	        {{#each all_subword_items_length_5}}
	            <span style="">{{this.subword}}</span>
	        {{/each}}
	    {{/if}}
	    {{#if all_subword_items_length_6}}
        	<h4>&#x2717;<u>6-Letter words:</u></h4>
	        {{#each all_subword_items_length_6}}
	            <span style="">{{this.subword}}</span>
	        {{/each}}
	    {{/if}}
	    {{#if all_subword_items_length_7}}
        	<h4>&#x2717;<u>7-Letter words:</u></h4>
	        {{#each all_subword_items_length_7}}
	            <span style="">{{this.subword}}</span>
	        {{/each}}
	    {{/if}}
	    {{#if all_subword_items_length_8_up}}
        	<h4>&#x2717;<u>8-Letter words and up:</u></h4>
	        {{#each all_subword_items_length_8_up}}
	            <span style="">{{this.subword}}</span>
	        {{/each}}
	    {{/if}}
	</p>	    
</template>