<template name="subwords">
	<div class="container">
	<div class="well">
        <h4>
        	Subwords for "{{userInput}}" 
        	<span class="badge" style="color:#7FDBFF;" id="subwordcounts">{{subwordCount}}</span>
        </h4>
        {{#if all_subword_items_length_1}}
	        <h4><span style="color:red">&#x2717;</span><u>1-Letter words:</u></h4>
	        <p>
	        {{#each all_subword_items_length_1}}
	            <span class="badge">{{this.subword}}</span>
	        {{/each}}
	        </p>
	    {{/if}}
        {{#if all_subword_items_length_2}}
	        <h4><span style="color:red">&#x2717;</span><u>2-Letter words:</u></h4>
	        <p>
	        {{#each all_subword_items_length_2}}
	            <span class="badge">{{this.subword}}</span>
	        {{/each}}
	        </p>
	    {{/if}}
        {{#if all_subword_items_length_3}}
	        <h4><span style="color:red">&#x2717;</span><u>3-Letter words:</u></h4>
	        <p>
	        {{#each all_subword_items_length_3}}
	            <span class="badge">{{this.subword}}</span>
	        {{/each}}
	        </p>
	    {{/if}}
        {{#if all_subword_items_length_4}}
	        <h4><span style="color:red">&#x2717;</span><u>4-Letter words:</u></h4>
	        <p>
	        {{#each all_subword_items_length_4}}
	            <span class="badge">{{this.subword}}</span>
	        {{/each}}
	        </p>
	    {{/if}}
        {{#if all_subword_items_length_5}}
        	<h4><span style="color:red">&#x2717;</span><u>5-Letter words:</u></h4>
        	<p>
	        {{#each all_subword_items_length_5}}
	            <span class="badge">{{this.subword}}</span>
	        {{/each}}
	        </p>
	    {{/if}}
	    {{#if all_subword_items_length_6}}
        	<h4><span style="color:red">&#x2717;</span><u>6-Letter words:</u></h4>
        	<p>
	        {{#each all_subword_items_length_6}}
	            <span class="badge">{{this.subword}}</span>
	        {{/each}}
	        </p>
	    {{/if}}
	    {{#if all_subword_items_length_7}}
        	<h4><span style="color:red">&#x2717;</span><u>7-Letter words:</u></h4>
        	<p>
	        {{#each all_subword_items_length_7}}
	            <span class="badge">{{this.subword}}</span>
	        {{/each}}
	        </p>
	    {{/if}}
	    {{#if all_subword_items_length_8_up}}
        	<h4><span style="color:red">&#x2717;</span><u>8-Letter words and up:</u></h4>
        	<p>
	        {{#each all_subword_items_length_8_up}}
	            <span class="badge">{{this.subword}}</span>
	        {{/each}}
	        </p>
	    {{/if}}
	</div>	    
	</div>
</template>