/*
* Filename: footer.css
* Author: Joshua Michael Waggoner (rabbitfighter81@gmail.com)
* GitHub: www.github.com.rabbitfighter81/DMware
* Purpose: CSS declarations for footer template go here
*/

.footer_container {
	height: 4em;
	vertical-align: bottom;
	text-align: center;
	margin:30px;

}

.copyright {
	text-align: center;
	color: #ff1122;
	/*font-size: 1.333em;*/
}

#bottom_links {
	text-align: center;
	color: #E60000;
}
