

.navbar {
	background-color: #E1E1E1;
	margin: 2em;
}

.navbar-inner {
	margin:5px;
	float:left;
	font-size: 1.3em;
}

.navbar-inner a{
	margin-left: 15px;
	color: black;
	
	
}

li {
	display: inline;
	font-family: 'Roboto';
}

#items {
	font-family: none;
}

#items a, #items li{
	font-family: 'Roboto';
}

#menu a {
	font-family: 'Roboto';
}

.dropdown li {
	font-family: 'Roboto';
}



