.navbar {
	background-color: #EEEEEE;
	margin-right:30px;
	margin-left: 30px;
	margin-top: 20px;
}

.navbar-inner {
	margin:5px;
	float:left;
	font-size: 1.3em;
}

.navbar-inner a{
	margin-left: 15px;
	color: black;
	
	
}

li {
	display: inline;
	font-family: 'Roboto';
}

#items {
	font-family: none;
}

#items a, #items li{
	font-family: 'Roboto';
}

#menu a {
	font-family: 'Roboto';
}

.dropdown li {
	font-family: 'Roboto';
}



