
@font-face {
    font-family: 'Acme';
	src: url('fonts/Acme.ttf'); 
	src: url('fonts/Acme.ttf?#iefix') format('truetype'), 
	     url('fonts/Acme.ttf') format('truetype'), 
}

@font-face {
    font-family: 'AcmeBold';
	src: url('fonts/AcmeBold.ttf'); 
	src: url('fonts/AcmeBold.ttf?#iefix') format('truetype'), 
	     url('fonts/AcmeBold.ttf') format('truetype'), 
}

@font-face {
    font-family: 'oliver';
	src: url('fonts/oliver.ttf'); 
	src: url('fonts/oliver.ttf?#iefix') format('truetype'), 
	     url('fonts/oliver.ttf') format('truetype'), 
}

body {
	margin: 5px;
    color: #EEEEEE;
	background-color: #111111;
	/*background-image: url('backgrounds/sleuth.png');*/
	
}

h1 {
	/*color: #EEEEEE;*/
	
	font-family: 'oliver';
	font-size: 2.5em;
	color: white;
    text-shadow: 2px 2px 4px #000000;

}

h2 {
	/*color:#67C8FF; */
	/*font-family: 'Roboto';*/
}

h3, h4, h5 {
	/*color:#EEEEEE;*/
	/*font-family: 'Roboto';*/
	font-family: 'Open Sans';
}

p {
	/*color: #FFFFFF;*/
	
	font-size: 1.2em;
}

a {
	/*text-decoration: underline;*/
}


.badge {
	font-size: .866em;
}

.well {
	background-color:#323232;
	border-width: 0px;
	border-color: #111111;
	opacity: 0.95;
}

#dictArea {
	color: yellow;
}

.fb-like {
	color:white;

}

#btn-word {
	
    font-size: 1em;
 	margin:5px;
	margin-top: 8p;
	background-color: #DEDEDE;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 0px solid #909090;
    padding-left: 10px;
    padding-right: 10px;

	/*background-color: #AAAAAA;*/
	/*color:white;*/

}

button {
	font-family: 'Cousine';
}



