
@font-face {
    font-family: 'Acme';
	src: url('fonts/Acme.ttf'); 
	src: url('fonts/Acme.ttf?#iefix') format('truetype'), 
	     url('fonts/Acme.ttf') format('truetype'), 
}

@font-face {
    font-family: 'AcmeBold';
	src: url('fonts/AcmeBold.ttf'); 
	src: url('fonts/AcmeBold.ttf?#iefix') format('truetype'), 
	     url('fonts/AcmeBold.ttf') format('truetype'), 
}

@font-face {
    font-family: 'oliver';
	src: url('fonts/oliver.ttf'); 
	src: url('fonts/oliver.ttf?#iefix') format('truetype'), 
	     url('fonts/oliver.ttf') format('truetype'), 
}

body {
	margin: 5px;
    color: #EEEEEE;
	background-color: #333333;
	background-image: url('backgrounds/sleuth.png');
	
}

h1 {
	/*color: #EEEEEE;*/
	font-family: 'oliver';
	font-size: 3.5em;
	color: white;
    text-shadow: 2px 2px 4px #000000;
}

h2 {
	/*color:#67C8FF; */
	/*font-family: 'Roboto';*/
}

h3, h4, h5 {
	/*color:#EEEEEE;*/
	/*font-family: 'Roboto';*/
}



h4 {
	text-decoration: none;
}

p {
	/*color: #FFFFFF;*/
	/*font-family: 'Oswald';*/
	font-size: 1.25em;
}

a {
	/*text-decoration: underline;*/
}


.badge {
	font-size: .866em;
}

.well {
		background-color:#424242;
		border-width: 0px;
		opacity: 0.95;
}


