<template name="footer" >  
  <head>
  	<link href='http://fonts.googleapis.com/css?family=Lato|Arimo|Roboto|Open+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body>
	<div class="container">
		<div class="well">
			<div class="footer_container">
				<div class="copyright">{{copyright}}</div>
				<nav class="nav" id="bottom_links">
			    	<a href="{{pathFor 'wordsleuth'}}">Home</a> |
			    	<a href="{{pathFor 'about'}}">About</a> |
			    	<a href="#">Site Map</a>
	    		</nav>
	    	</div>
	    </div>
	</div>
  </body>
</template>