<template name="layout">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-inner">

            <li id="menu">
                <a href="{{pathFor 'wordsleuth'}}" class="brand"></a>
                <img src="icons/icon.png" style="width:50px;height:50px; ">
            </li>
            
            <li id="menu"><a href="{{pathFor 'about'}}">About</a></li>
            <li id="menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Dictionary <b class="caret"></b>
                </a>
                <ul id="items" class="dropdown-menu" role="button">
                    <li class="dropdown-header" >
                        <u>Scrabble<small>(TM)</small> Dictionaries</u>
                    </li>

                    <li class="item" id="scrabbleCondensed">
                        <a href="#">Scrabble Players Dictionary (8-Letter)</a>
                    </li>
                    <li class="item" id="scrabbleFull">
                        <a href="#">Scrabble Players Dictionary (full)</a>
                    </li>
                    <li class="divider"></li>
                    <li class="dropdown-header"><u>Merriam's Webster<small>(TM)</small> Dictionaries</u></li>
                    <li class="item" id="merriamSingle">
                        <a href="#">Webster's Single words</a>
                    </li>
                    <li class="item" id="merriamCompound">
                        <a href="#">Webster's Compound words</a>
                    </li>
                    <li class="divider"></li>
                    

                </ul>
            </li>
        </div>
    </div>
    <!-- Static navbar -->

    <div class="container">
        {{> yield}}
    </div>
  
</template>

