<!-- File: carnegieWords.html -->
<!-- Author: @rabbitfighter81 -->
<!-- Purpose: html template for Carnegie Melon word list -->
<template name="carnegieWords">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>WordSleuth</title>
	</head>
	<body>
		<div id="headerArea">
			<h1><u>Carnegie Melon University Word List</u></h1>
			<h3>Full list</h3>
		</div>

		<div id="">
			<h2>Dictionary Info</h2>
			<p>Full List of Carnegie Melon's comprehensive list of English words. Contains 111,308 entries.
			</p>
		</div>

		<div class="page-element">
			<button id="button-carnegie-words" type="button" class="btn btn-info">
				<strong>Use this dictionary</strong>
			</button>
		</div>
	</body>
</template>