<!-- File: merriamCompund.html -->
<!-- Author: @rabbitfighter81 -->
<!-- Purpose: html template for Merriam compund word list -->
<template name="merriamCompound">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>WordSleuth</title>
	</head>
	<body>
		<div id="headerArea">
			<h1><u>Merriam Webster's (TM) 7th Edition</u></h1>
			<h3>76,205 entries</h3>
		</div>

		<div id="infoArea">
			<h2>Dictionary Info</h2>
			<p>
				The Merriam Webster's 7th Edition Compund Words Dictionary contains 76,205 entries and all of them are common compund words in the english language. Note: Contains only compund, not single words, and is generall comprised of compunds from Merriam Webster's<small>(TM)</small> 7th Edition Single Word Dictionary
			</p>
		</div>

		<div class="page-element">
			<button id="button-merriam-compound" type="button" class="btn btn-info">
				<strong>Use this dictionary</strong>
			</button>
		</div>
	</body>
</template>

