<!-- File: merriamSingle.html -->
<!-- Author: @rabbitfighter81 -->
<!-- Purpose: html template for merriam websters single word dictionary -->
<template name="merriamSingle">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>WordSleuth</title>
	</head>
	<body>
		<div class="well">
			<h2><u>Merriam Webster's (TM) - 7th Edition</u></h2>
			<h3>234,936 entries</h3>
			<h2>Dictionary Info</h2>
			<p>
				The Merriam Webster's 7th Edition Dictionary contains 234,936 
				entries and all of them are single words
			</p>
			<button 
				id="button-merriam-single" 
				type="button" 
				class="btn btn-info">
				<strong>Use this dictionary</strong>
			</button>
		</div>
	</body>
</template>