<!-- File: merriamCompund.html -->
<!-- Author: @rabbitfighter81 -->
<!-- Purpose: html template for Merriam compund word list -->
<template name="merriamCompound">
	<div class="well">
		<h2><u>Merriam Webster's (TM) 7th Edition</u></h2>
		<h3>76,205 entries</h3>
		<h2>Dictionary Info</h2>
		<p>
			The Merriam Webster's 7th Edition Compund Words Dictionary contains 76,205 entries and all of them are common compund words in the english language. Note: Contains only compund, not single words, and is generall comprised of compunds from Merriam Webster's<small>(TM)</small> 7th Edition Single Word Dictionary
		</p>
		<button 
			id="button-merriam-compound" 
			type="button" 
			class="btn btn-info">
			<strong>Use this dictionary</strong>
		</button>
	</div>
</template>

