<!-- File: scrabbleCondensed.html -->
<!-- Author: @rabbitfighter81 -->
<!-- Purpose: html template for Scrabble(TM) condensed word list -->
<template name="scrabbleCondensed">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>WordSleuth</title>
	</head>
	<body>
		<div class="well">
			<h2><u>Scrabble (TM) Player's Dictionary</u></h2>
			<h3>79,338 entries (8-letter max)</h3>
			<h2>Dictionary Info</h2>
			<p>The Scrabble<small>(TM)</small>Player's Condensed Dictionary contains 
				79,338 entries that comprise most possible 	scrabble words. 
				This list contains only words up to eight letters. 
			</p>
			<button 
				id="button-scrabble-condensed" 
				type="button" 
				class="btn btn-info">
				<strong>Use this dictionary</strong>
			</button>
		</div>
	</body>
</template>