<!-- File: scrabbleFull.html -->
<!-- Author: @rabbitfighter81 -->
<!-- Purpose: html template for Scrabble(TM) condensed word list -->
<template name="scrabbleFull">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>WordSleuthh</title>
	</head>
	<body>
		<div class="well">
			<h2><u>Scrabble (TM) Player's Dictionary</u></h2>
			<h3>172,823 entries (full)</h3>
			<h2>Dictionary Info</h2>
			<p>
				The Scrabble<small>(TM)</small>Full Player's Dictionary contains 
				172,823 entries that comprise all possible scrabble words. 
				This list contains words of all lengths and is the most comprehensive 
				of the Scrabble <small>(TM)</small>	Dictionaries.
			</p>
			<button 
				id="button-scrabble-full" 
				type="button" 
				class="btn btn-info">
				<strong>Use this dictionary</strong>
			</button>
		</div>
	</body>
</template>