<!-- File: unixWords.html -->
<!-- Author: @rabbitfighter81 -->
<!-- Purpose: html template for Scrabble(TM) condensed word list -->
<template name="unixWords">
	<div class="well">
		<h2><u>Unux/Linux Words Dictionary</u></h2>
		<h3>25,104 entries</h3>
		<h2>Dictionary Info</h2>
		<p>
			Full List of the famous Words.txt found on most *nix machines. 
			Contains 25,104 entries.
		</p>
		<button id="button-unix-words" 
			type="button" 
			class="btn btn-info">
			<strong>Use this dictionary</strong>
		</button>
	</div>
</template>