<!-- File: unixWords.html -->
<!-- Author: @rabbitfighter81 -->
<!-- Purpose: html template for Scrabble(TM) condensed word list -->
<template name="unixWords">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>WordSleuth</title>
	</head>
	<body>
		<div id="headerArea">
			<h1><u>Unux/Linux Words Dictionary</u></h1>
			<h3>25,104 entries</h3>
		</div>

		<div id="infoArea">
			<h2>Dictionary Info</h2>
			<p>
				Full List of the famous Words.txt found on most *nix machines. 
				Contains 25,104 entries.
			</p>
		</div>

		<div class="page-element">
			<button id="button-unix-words" type="button" class="btn btn-info">
				<strong>Use this dictionary</strong>
			</button>
		</div>
	</body>
</template>