<template name="about">
  
  <head>
    <link href='http://fonts.googleapis.com/css?family=Lato|Arimo|Roboto|Open+Sans' rel='stylesheet' type='text/css'>
      <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=591499857628792";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </head>
  
  
    <div id="headerArea">
      {{> header}}
    </div>

    <div id="aboutArea">
      {{> aboutArea}}
    </div>
  
    <div id="footer">
      {{> footer}}
    </div>
  
</template>
