<template name="wordsleuth">

    <head>
        <link href='http://fonts.googleapis.com/css?family=Lato|Arimo|Roboto|Open+Sans|Droid+Sans+Mono|Cousine' rel='stylesheet' type='text/css'>
    </head>

    <div id="headerArea">
        {{> header}}
    </div>

    <div id="dictionaryArea">
        {{> dictArea}}
    </div>

    <div id="anagramsArea">
        {{#if userInput}} {{> anagrams}} {{/if}}
    </div>

    <div id="subwordsArea">
        {{#if userInput}} {{> subwords}} {{/if}}
    </div>

     <div id="footer">
        {{> combinations}}
    </div>

    <div id="footer">
        {{> footer}}
    </div>

</template>